.contenedorCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .card{
        margin: 5px;
        padding: 5px;
        width: 10rem;
        border: solid 4px black;
        border-radius: 10px;
        background-image: linear-gradient(45deg, rgb(97, 157, 104), rgb(81, 196, 137), rgb(105, 205, 85)) ;
        .imgCard{
            border-radius: 4px;
            width: 100%;
        }
        .contTxt .parrafoCard{
            text-align: start;
        }
    }
}